body
{
    background-color: black;
    margin-top:0;
    margin-left:0;
    margin-right:0;
}
.NavBar
{
    background-color: rgba(245, 245, 245, 0.872);
    font-family: sans-serif;
    padding-top: calc(5vw);
    padding-bottom: calc(5vw);
    font-size: calc(5vw);
    text-align: center;
}